html, body{
    height: 100%;
    box-sizing: border-box;
}

/*
.img-1{
    position: relative;
    top: 70px; 
}

.img-2{
    position: relative;

    bottom: 360px; 
}

.img-wedding:hover{
    filter: brightness(0.9);
}

.card-position{
    position: relative;
    bottom: 160px
}

*/

.container {
    height: 100%vh;

}

h1{
    font-family: 'Alex Brush';
    text-align: center;
    font-size: 100px!important;
    padding-top: 25%;
    text-shadow: 10px 30px 20px rgb(51, 51, 51); 
    text-shadow: 10px 10px 5px rgba(136, 136, 136, 0.48);
}

h2{
    font-family: 'Alex Brush';
    text-shadow: 10px 30px 20px rgb(51, 51, 51); 
    text-shadow: 10px 10px 5px rgba(136, 136, 136, 0.48);
    color: #fff!important;
}

.c-item 
{
    height:100vh;
}

.c-item-b
{
    height: 100vh;
    
    background-image:linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
       ), url("../img/2\ carrusel.jpg");
     
     
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
  
.c-img 
{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    filter: blur(1.5);
}

.subtitulo-c1
{
    font-family: 'Alex Brush';
    padding-top: 10%;
}

.caption {
    position: absolute;
    top: 50%;
    margin-top: -104px;
    left: 0;
    right: 0;
    text-align: center;
    /* text-transform: uppercase; */
    z-index: 15;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInLefBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}


@media (max-width:480px) 
{
    h1{
        font-size: 80px!important;
    }

    .img-wedding{
       /* height: 10px!important;*/
    }



}

/*//////////////NAV BAR/////////////////*/
.navbar-custom
{
    background-color: #634fad;

    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.16), inset 0 5px 5px 0 rgba(0,0,0,0.16);
}

.navbar-custom .navbar-nav .nav-link 
{
    color: #DCE8F2;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link 
{
    color: #fff;
}

.img-logo
{
    width: 40px;
    border-radius: 100%;
}

/*--SOBRE NOSOTROS--*/


.titulo-nosotros{
    margin-top: 2rem;
    font-size: 3rem;
}

.h2-servicios{
    margin-top: 2rem;
    font-size: 3rem;
    color: #000 !important;
}
.contenedor-nosotros
{
    height: 100vh;
    background: url("../img/sobre\ nosotros.jpg");
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.parrafo-nosotros
{   
    margin-block-start: 3em;
    margin-block-end: 10em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
    font-size: larger;
    border: solid;
    -ms-text-justify: auto;
   
    
}

/********SERVICIOS***********/

.servicios{
    background-color: #dce8f250;
}

.img-target-services{
    padding: 3rem!important;
}

.img-target-services:hover{
    filter: hue-rotate(360deg)!important;
    background-color: #634fad!important;
   
}